services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend.dev
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
      - /app/node_modules
      # Uncomment if you want to persist node_modules (for windows this was how it was working)
      # Was causing build issues on MacOS so I commented it out
    environment:
      - CHOKIDAR_USEPOLLING=true
      - FAST_REFRESH=false
      - WDS_SOCKET_HOST=localhost
      - WDS_SOCKET_PORT=3000
    stdin_open: true
    tty: true

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend.dev
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    stdin_open: true
    tty: true
    command:
      ['python', '-m', 'uvicorn', 'app.main:app', '--host', '0.0.0.0', '--port', '8000', '--reload']
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
