[tool.black]
line-length = 100

[tool.ruff]
line-length = 100
select = [
    "E",
    "W",
    "F",
    "I",
    "UP", # pyupgrade
]

exclude = [
    ".git",
    "__pycache__",
    "build",
    "dist",
    "venv"
]
