[tool.black]
line-length = 120

[tool.ruff]
line-length = 120
exclude = [
    ".git",
    "__pycache__",
    "build",
    "dist",
    "venv"
]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "UP", # pyupgrade
]

